@import "/public/plugins/bootstrap-5.0.0-beta1-dist/css/bootstrap.css";

@font-face {
  font-family: BebasNeueRegular;
  src: url("/public/fonts/bebas_neue/BebasNeue-Regular.ttf");
}

:root {
  --brand-blue: #0a5189;
  --deeper-brand-blue: #1a417b;
  --lighter-brand-blue: #0daccc;
  --brand-font-family: 'BebasNeueRegular', Arial, Helvetica, sans-serif;
  --dark-background: #212529;
}

* {
	min-height: 0;
	min-width: 0;
}

body {
	background: var(--dark-background);
}

.navbar {
	background: var(--brand-blue);
	font-family: var(--brand-font-family);
	font-size: 19.5px;
}

.navbar-nav > li:nth-child(even) {
	background: var(--deeper-brand-blue);
}

/* Carousel */
.slider-nav-container {
	height: 150px;
}

.slider-nav div {
	height: 100%;
}

.slider-desc, .slider-desc p.desc-category, .interview-container h1,
.interview-container a, .review-title, .suggestions-title {
	font-family: var(--brand-font-family);
}

.slider-desc p.desc-category {
	color: var(--lighter-brand-blue);
}

.slider-desc p {
	font-family: Helvetica, sans-serif;
}

a.btn {
	background: var(--brand-blue);
	color: white;
	letter-spacing: 1.5px;
}

a.btn:hover {
	background: var(--deeper-brand-blue);
}

.slider-nav .slick-slide {
	padding: 10px;
	background: var(--dark-background);
}

.nav-slide-title {
	margin-bottom: 0;
	padding: 5px 0;
	color: white;
	background: rgba(0,0,0,0.7);
}

/* Override slick css: allow users to highlight text of slides if they're not draggable. */
.slick-slider {
	-webkit-user-select: text;
	-khtml-user-select: text;
	-moz-user-select: text;
	-ms-user-select: text;
	user-select: text;
}
.slick-list.draggable {
	-webkit-user-select: none;
	-khtml-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
}

/* Estrenos de la semana */
.estrenos {
	border: 1px solid #6f6f6f;
	border-radius: 15px;
}

.estrenos h1, .estrenos h2 {
	font-family: var(--brand-font-family);
}

.estrenos-title {
	border-top-left-radius: 15px;
	border-top-right-radius: 15px;
	border-bottom: 1px solid #6f6f6f;
}

.estrenos-list {
	border-right: 1px solid #6f6f6f;
}

.estrenos-list h2 {
	padding-top: 3px;
}

.estrenos .active {
	background: var(--deeper-brand-blue);
}

.estreno-desc:hover {
	background: var(--lighter-brand-blue);
	cursor: pointer;
}

/* Interview and review section */
.iframe-container {
	position: relative;
	width: 100%;
	padding-bottom: 56.25%;
	height: 0;
}

.iframe-container iframe {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
}

.review-container .card {
	background: var(--brand-blue);
	border-color: var(--deeper-brand-blue);
}

.review-container .card a.btn {
	background: var(--deeper-brand-blue);
}

.review-container .card a.btn:hover {
	background-color: #1c1f23;
    border-color: #1a1e21;
}

/* Suggestions section */
.suggestions {
	background: var(--brand-blue);
}

.suggestions-title, a.btn {
	font-family: var(--brand-font-family);
}

@media screen and (min-width: 1200px) {
	.fs-lg-5 {
		font-size: 1.25rem !important;
	}
}

@media screen and (min-width: 1400px) {
	.fs-xl-4 {
		font-size: 1.5rem !important;
	}
}

@media screen and (max-width: 991px) {
	.slider-nav .slick-slide {
		padding: 10px 4px;
	}
}

@media screen and (max-width: 767px) {
	.estrenos-title {
		background: var(--brand-blue);
	}
	.estrenos, .estrenos-title, .estrenos-list {
		border-radius: 0;
		border: none;
	}
}
