@import "/public/plugins/bootstrap-5.0.0-beta1-dist/css/bootstrap.css";

@font-face {
  font-family: BebasNeueRegular;
  src: url("/public/fonts/bebas_neue/BebasNeue-Regular.ttf");
}

:root {
  --brand-blue: #0a5189;
  --deeper-brand-blue: #1a417b;
  --lighter-brand-blue: #0daccc;
  --brand-font-family: 'BebasNeueRegular', Arial, Helvetica, sans-serif;
  --dark-background: #212529;
}

* {
	min-height: 0;
	min-width: 0;
}

body {
	background: var(--dark-background);
}

.navbar {
	background: var(--brand-blue);
	font-family: var(--brand-font-family);
	font-size: 19.5px;
}

.navbar-nav > li:nth-child(even) {
	background: var(--deeper-brand-blue);
}

.slider-nav-container {
	height: 150px;
}

.slider-nav div {
	height: 100%;
}

.slider-desc, .slider-desc p.desc-category {
	font-family: var(--brand-font-family);
}

.slider-desc p.desc-category {
	color: var(--lighter-brand-blue);
}

.slider-desc p {
	font-family: Helvetica, sans-serif;
}

.slider-desc a.btn {
	background: var(--brand-blue);
	color: white;
	letter-spacing: 1.5px;
}

.slider-desc a.btn:hover {
	background: var(--deeper-brand-blue);
}

.slider-nav .slick-slide {
	padding: 10px;
	background: var(--dark-background);
}

.nav-slide-title {
	margin-bottom: 0;
	padding: 5px 0;
	color: white;
	background: rgba(0,0,0,0.7);
}

/* Override slick css: allow users to highlight text of slides if they're not draggable. */
.slick-slider {
	-webkit-user-select: text;
	-khtml-user-select: text;
	-moz-user-select: text;
	-ms-user-select: text;
	user-select: text;
}
.slick-list.draggable {
	-webkit-user-select: none;
	-khtml-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
}

/* Estrenos de la semana */

.estrenos {
	border: 1px solid #6f6f6f;
	border-radius: 15px;
}

.estrenos h1, .estrenos h2 {
	font-family: var(--brand-font-family);
}

.estrenos-title {
	background: var(--brand-blue);
	border-top-left-radius: 15px;
	border-top-right-radius: 15px;
}

.estrenos-list {
	border-right: 1px solid #6f6f6f;
}

.estrenos-list h2 {
	padding-top: 3px;
}

.estrenos .active {
	background: var(--deeper-brand-blue);
}

.estreno-desc:hover {
	background: var(--lighter-brand-blue);
	cursor: pointer;
}

@media screen and (min-width: 1200px) {
	.fs-lg-5 {
		font-size: 1.25rem !important;
	}
}

@media screen and (min-width: 1400px) {
	.fs-xl-4 {
		font-size: 1.5rem !important;
	}
}

@media screen and (max-width: 991px) {
	.slider-nav .slick-slide {
		padding: 10px 4px;
	}
}

@media screen and (max-width: 767px) {
	.estrenos, .estrenos-title, .estrenos-list {
		border-radius: 0;
		border: none;
	}
}
