@import "/public/plugins/bootstrap-5.0.0-beta1-dist/css/bootstrap.css";

@font-face {
  font-family: BebasNeueRegular;
  src: url("/public/fonts/bebas_neue/BebasNeue-Regular.ttf");
}

body {
	background: #212529;
}

.navbar {
	background: #0a5189;
	font-family: 'BebasNeueRegular', Arial, Helvetica, sans-serif;
	font-size: 19.5px;
}

.navbar-nav > li:nth-child(even) {
	background: #1a417b;
}

.slider-for {
	height: 500px;
}

.slider-nav-container {
	height: 150px;
}

.slider-nav-container .slider-nav {
	width: 90%;
}

.slider-nav-container button {
	width: 5%;
	background: cyan !important;
}

.slider-for div, .slider-nav div {
	height: 100%;
}

.slider-nav .slick-slide {
	padding: 10px;
	background: #212529;
}

.slider-nav .slick-current {
	border: 1px solid #212529;
}

@media screen and (min-width: 1200px) {
	.fs-lg-5 {
		font-size: 1.25rem !important;
	}
}

@media screen and (min-width: 1400px) {
	.fs-xl-4 {
		font-size: 1.5rem !important;
	}
}
